### Soal 1

Dalam proses pembersihan data (data cleaning), seringkali kita menemukan data duplikat dan data anomali (outlier). Jelaskan secara singkat perbedaan antara *data duplikat* dan *data anomali*, serta berikan satu contoh sederhana bagaimana masing-masing masalah tersebut dapat dikenali dalam sebuah dataset tanpa perlu menulis kode program.

<!-- delete all -->

<!-- TULIS JAWABAN DESKRIPTIF ANDA DISINI (Markdown) -->

Jawaban Anda:

### Soal 2

Anda diberikan sebuah dictionary Python berikut yang merepresentasikan data:

```python
data = {
    'ID': [101, 102, 103, 101, 104, 105, 103],
    'Value': ['150.5', '200', 'abc', '150.5', '250', '300.7', '350'],
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-01', '2023-01-04', '2023-01-05', '2023-01-03']
}
```

Gunakan library pandas untuk melakukan langkah-langkah data cleaning dan konversi tipe data berikut:

1.  Buatlah DataFrame pandas dari dictionary `data`.
2.  Cetak shape (jumlah baris dan kolom) dari DataFrame awal.
3.  Temukan dan hapus baris duplikat berdasarkan kolom 'ID'. Pertahankan kemunculan pertama dari setiap 'ID'.
4.  Konversikan kolom 'Value' menjadi tipe data numerik (float). Tangani nilai yang tidak bisa dikonversi menjadi numerik dengan mengubahnya menjadi `NaN`.
5.  Konversikan kolom 'Date' menjadi tipe data datetime.
6.  Cetak shape dari DataFrame setelah duplikasi dihapus.
7.  Cetak ringkasan informasi DataFrame (`df.info()`) untuk melihat tipe data akhir dari setiap kolom.

Tulis kode Python yang melakukan semua langkah di atas.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.

#### Expected Output Soal 2

```
Shape awal: (7, 3)
Shape setelah duplikasi dihapus: (5, 3)
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Value   4 non-null      float64
 2   Date    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 200.0 bytes
```

### Soal 3

Anda diberikan data penjualan dalam bentuk dictionary Python. Tugas Anda adalah membersihkan dan melakukan konversi tipe data pada data ini menggunakan library `pandas`.

Data awal:
```python
data = {
    'ID': [1, 2, 3, 4, 5, 6, 3, 7, 8],
    'Nama_Produk': ['A', 'B', 'C', 'D', 'E', 'F', 'C', 'G', 'H'],
    'Tanggal_Penjualan': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-03', '2023-01-07', '2023-01-08'],
    'Jumlah_Terjual': ['10', '15', '20', '25', '30', '35', '20', 'abc', '40']
}
```

Langkah-langkah:
1.  Buat DataFrame pandas dari dictionary `data`.
2.  Hapus baris-baris yang sepenuhnya duplikat.
3.  Konversi kolom `Tanggal_Penjualan` ke tipe data datetime.
4.  Konversi kolom `Jumlah_Terjual` ke tipe data numerik. Gunakan metode yang tepat agar nilai yang tidak bisa dikonversi menjadi `NaN`.
5.  Isi nilai-nilai `NaN` pada kolom `Jumlah_Terjual` dengan **nilai median** dari kolom tersebut (setelah baris duplikat dihapus dan konversi awal dilakukan).
6.  Hitung nilai rata-rata (`mean`) dari kolom `Jumlah_Terjual` setelah semua langkah pembersihan dan konversi selesai.
7.  Cetak nilai rata-rata tersebut.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.

#### Expected Output Soal 3

25.0

### Soal 4

Anda diberikan sebuah dictionary data penjualan sebagai berikut:

```python
import pandas as pd
import numpy as np

data = {
    'ID_Transaksi': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, 11, 12],
    'Produk': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'C', 'D', 'A'],
    'Harga_Unit': [100, 150, 200, 110, 160, 210, 105, 155, 205, 115, 200, 5000, 100], # Outlier: 5000
    'Kuantitas': [5, 3, 2, 4, 2, 3, 5, 4, 2, 3, 2, -1, 6], # Anomaly: -1
    'Tanggal': ['2023-01-01', '2023-01-02', '2023-01-03', '04-01-2023', '2023/01/05', '2023-13-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10', '2023-01-03', 'invalid-date', '2023-01-11'], # Mixed format, invalid date
    'Region': ['Utara', 'Selatan', 'Timur', 'Barat', 'Utara', 'Selatan', 'Timur', 'Barat', 'Utara', 'Selatan', 'Timur', 'Barat', 'Utara']
}

df = pd.DataFrame(data)
```

Anda diminta untuk membersihkan dan memproses DataFrame `df` dengan langkah-langkah berurutan berikut:

1.  **Deteksi & Penanganan Duplikat:** Hapus baris yang memiliki duplikat pada kolom `ID_Transaksi`. Pertahankan baris pertama yang muncul.
2.  **Konversi Tipe Data & Penanganan Anomali (Tanggal):** Konversi kolom `Tanggal` ke tipe data datetime. Tanggal yang tidak valid (`errors='coerce'`) harus diubah menjadi `NaT`, dan baris yang mengandung `NaT` di kolom `Tanggal` setelah konversi harus dihapus.
3.  **Deteksi & Penanganan Anomali (Outlier Harga):** Identifikasi *outlier* pada kolom `Harga_Unit` menggunakan metode IQR (Interquartile Range) dari data yang **sudah melewati langkah 1 dan 2**. Hitung Q1, Q3, dan IQR. Baris yang nilai `Harga_Unit`-nya melebihi `Q3 + 1.5 * IQR` harus dihapus.
4.  **Penanganan Anomali (Kuantitas Negatif):** Ganti nilai negatif pada kolom `Kuantitas` dengan angka 0.
5.  **Transformasi & Perhitungan:** Hitung kolom baru bernama `Pendapatan` yang merupakan hasil perkalian `Harga_Unit` dan `Kuantitas` setelah semua langkah pembersihan di atas.<!-- gunakan bahasa jerman untuk semua jawaban -->
6.  **Agregasi:** Hitung rata-rata `Pendapatan` untuk setiap `Region` dari data yang sudah bersih dan diproses.

Tampilkan hasil rata-rata `Pendapatan` per `Region`.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.

#### Expected Output Soal 4

Output yang diharapkan adalah pandas Series yang menunjukkan rata-rata pendapatan per region setelah data dibersihkan dan diproses. Urutan region dalam output bisa bervariasi:

```text
Region
Barat    530.0
Selatan  397.5
Timur    462.5
Utara    457.5
dtype: float64
```